<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <title>Pokedex</title>
</head>

<body>
    <div>
        <header>
<nav class="nav_bar">
    <div>
        <a class="link" href="/">
            <h2 class="nav_element nav_element_h1">
                Pokédex
            </h2>
        </a>
    </div>
   <div class="nav_right">
    <a class="link" href="/">
        <h4 class="nav_element ">Liste</h4>
    </a>
    <a class="link" href="/types">
        <h4 class="nav_element ">Types</h4>
    </a>
   </div>
  
</nav>
           


        </header>
        <main>